
@font-face {
  font-family: 'yofont';
  src: url('/images/fonts/iconfontfooter.eot');
  src: url('/images/fonts/iconfontfooter.eot?#iefix') format('embedded-opentype'),
  url('/images/fonts/iconfontfooter.woff') format('woff'),
  url('/images/fonts/iconfontfooter.ttf') format('truetype'),
  url('/images/fonts/iconfontfooter.svg#iconfont') format('svg');
}
@font-face {
  font-family: 'yofont';
  src: url('/images/fonts/iconfontback.eot');
  src: url('/images/fonts/iconfontback.eot?#iefix') format('embedded-opentype'),
  url('/images/fonts/iconfontback.woff') format('woff'),
  url('/images/fonts/iconfontback.ttf') format('truetype'),
  url('/images/fonts/iconfontback.svg#iconfont') format('svg');
}